<!DOCTYPE html>
<html lang="pt-BR" ng-app="listaTelefonica">
	<head>
		<meta charset="UTF-8">
		<title>Lista Telefônica</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-locale_pt-br.js"></script>
		<script type="text/javascript" src="lib/jquery/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			angular.module("listaTelefonica", []);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $filter){
				$scope.app = "Lista Telefônica";
				$scope.contatos = [
					{nome: "Pedro", telefone: "999998888", data: new Date(), operadora: {nome: "OI", codigo: 14, categoria: "Celular", cor: 'yellow', preco: 2}},
					{nome: "Ana", telefone: "999998877", data: new Date(), operadora: {nome: "TIM", codigo: 41, categoria: "Celular", cor: 'blue', preco: 3}},
					{nome: "Maria", telefone: "999998866", data: new Date(), operadora: {nome: "VIVO", codigo: 15, categoria: "Celular", cor: 'purple', preco: 1}}
				];
				$scope.operadoras = [
					{nome: "OI", codigo: 14, categoria: "Celular", cor: 'yellow', preco: 2},
					{nome: "VIVO", codigo: 15, categoria: "Celular", cor: 'purple', preco: 1},
					{nome: "TIM", codigo: 41, categoria: "Celular", cor: 'blue', preco: 3},
					{nome: "GVT", codigo: 25, categoria: "Fixo", cor: 'orange', preco: 1},
					{nome: "Embratel", codigo: 21, categoria: "Fixo", cor: 'cyan', preco: 2}
				];
				$scope.adicionarContato = function(contato){
					contato.data = new Date();
					contato.nome = $filter("uppercase")(contato.nome);
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
					$scope.contatoForm.$setPristine();
				};
				$scope.apagarContatos = function(contatos){
					$scope.contatos = contatos.filter(function(contato){
						if (!contato.selecionado) return contato;
					});
				};
				$scope.temContatoSelecionado = function(contatos){
					return contatos.some(function(contato){
						return contato.selecionado;
					});
				};
				$scope.ordenarPor = function(campo){
					$scope.criterioDeOrdenacao = campo;
					$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
				};
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="jumbotron">
						<h3 class="text-center">{{app}}</h3>
						<input type="text"  class="form-control" ng-model="criterioDeBusca" placeholder="O que você quer?"><br>
						<table class="table" ng-show="contatos.length > 0">
							<thead>
								<tr>
									<th></th>
									<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
									<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
									<th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
									<th><a href="" ng-click="ordenarPor('data')">Data</a></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-class="{'bg-warning text-warning': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
									<td>
										<input type="checkbox" ng-model="contato.selecionado">
									</td>
									<td>{{contato.nome}}</td>
									<td>{{contato.telefone}}</td>
									<td>{{contato.operadora.nome | lowercase}}</td>
									<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
									<td>
										<div style="width: 22px; height: 22px;" ng-style="{'background-color': contato.operadora.cor}"></div>
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
							Preencha o nome.
						</div>
						<div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
							O nome dever ter no mínimo 2 caracteres.
						</div>
						<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
							Preencha o telefone.
						</div>
						<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
							Preencha o telefone corretamente.
						</div>
						<div ng-show="contatoForm.operadora.$invalid && contatoForm.noperadoraome.$dirty" class="alert alert-danger">
							Selecione a operadora.
						</div>
						<form name="contatoForm">
							<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="2"><br>
							<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"><br>
							<select class="form-control" name="operadora" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ') ' group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
								<option value="">Selecione uma operadora...</option>
							</select>
						</form>
						<br>
						<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
						<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="temContatoSelecionado(contatos)">Apagar contatos</button><br>
						<div ng-include="'footer.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>