<!DOCTYPE html>
<html lang="pt-BR" ng-app="listaTelefonica">
	<head>
		<meta charset="UTF-8">
		<title>Lista Telefônica</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<style type="text/css">

		</style>
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript">
			angular.module("listaTelefonica", []);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
				$scope.app = "Lista Telefônica";
				$scope.contatos = [
					{nome: "Pedro", telefone: "999998888"},
					{nome: "Ana", telefone: "999998877"},
					{nome: "Maria", telefone: "999998866"}
				];
				$scope.adicionarContato = function(contato){
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
				};
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6">
					<div class="jumbotron">
						<h3 class="text-center">{{app}}</h3>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Telefone</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="contato in contatos">
									<td>{{contato.nome}}</td>
									<td>{{contato.telefone}}</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"><br>
						<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"><br>
						<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar contato</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>